
.card-container {
    /*cursor: pointer;*/
    /*height: 150px;*/
    /*perspective: 600;*/
    position: relative;
    width: 200px;
    height: 200px;
    /*margin-left: 100px;*/
}
.card {
    /*height: 100%;*/
    /*position: relative;*/
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    /*width: 100%;*/
}
.card:hover {
    transform: rotateY(180deg);
}
.card .side {
    backface-visibility: hidden;
    /*border-radius: 6px;*/
    height: 200px;
    /*position: absolute;*/
    /*border-radius: 20px;*/
    overflow: hidden;
    width: 200px;
}
.card .back {
    background: white;
    /*color: #0087cc;*/
    /*line-height: 33px;*/
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border: 3px solid orange;
    border-radius: 15px;
}

.author{
    margin-left: 200px;
}
.icon {
    width: 30px;
    margin: 10px;
}

.icon:hover{
    width: 40px;
    margin: 5px;
}


/*!*********about authors***********!*/

/*.authors h1{*/
    /*font-weight: 800;*/
    /*font-size: 50px;*/
    /*color: #FF8619;*/
    /*margin-bottom: 30px;*/
/*}*/

/*.authorsPosition{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
/*}*/

/*div.authors{*/
    /*margin-top: 20em;*/
    /*margin-bottom: 20em;*/
    /*text-align: center;*/
/*}*/

/*div.author{*/
    /*!*display: inline-block;*!*/
    /*margin-left: 20px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*margin-top: 10px;*/
/*}*/

/*div.icons{*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*!*height: 369px;*!*/
/*}*/

/*.photo{*/
    /*width: 200px;*/
    /*height: 300px;*/
    /*font-size: 200px;*/
/*}*/

/*.icon{*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*margin-top: 10px;*/
/*}*/

/*.icon:hover{*/
    /*width: 30px;*/
    /*height: 30px;*/
/*}*/

/*.name{*/
    /*position: relative;*/
    /*color: #FF8619;*/
    /*font-weight: bold;*/
    /*font-size: 20px;*/
/*}*/

/*.function{*/
    /*color: #36312C;*/
/*}*/

/*.authorInfo {*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*width: 200px;*/
/*}*/

/*JEDI*/

/*.authors h1{*/
    /*font-weight: 800;*/
    /*font-size: 50px;*/
    /*color: #FF8619;*/
    /*margin-bottom: 30px;*/
/*}*/

/*div.authors{*/
    /*margin-top: 10em;*/
    /*margin-bottom: 5em;*/
/*}*/

/*div.author{*/
    /*margin-top: 10px;*/
/*}*/

/*.name{*/
    /*color: #FF8619;*/
    /*font-weight: bold;*/
    /*font-size: 20px;*/
/*}*/

/*.function{*/
    /*color: #36312C;*/
/*}*/

/*.card-container {*/
    /*position: relative;*/
    /*width: 180px;*/
    /*height: 200px;*/
    /*margin-bottom: 5em;*/
/*}*/
/*.card{*/
    /*transform-style: preserve-3d;*/
    /*transition: all 1s ease-in-out;*/
/*}*/
/*.card:hover {*/
    /*transform: rotateY(180deg);*/
/*}*/
/*.card .side {*/
    /*backface-visibility: hidden;*/
    /*height: 200px;*/
    /*width: 180px;*/
    /*overflow: hidden;*/
/*}*/
/*.card .back {*/
    /*!*background: white;*!*/
    /*transform: rotateY(180deg);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*border: 2px solid #FF8619;*/
    /*border-radius: 6px;*/
/*}*/

/*.starW{*/
    /*!*width: 100%;*!*/
    /*height: 100%;*/
/*}*/

/*.icon {*/
    /*width: 50px;*/
    /*margin: 10px;*/
/*}*/

/*.icon:hover{*/
    /*width: 60px;*/
    /*margin: 5px;*/
/*}*/

/*.iconPosition{*/
    /*margin-top: 33px;*/
/*}*/

/*@media screen and (max-width: 991px){*/
    /*.authors h1{*/
        /*text-align: center;*/
    /*}*/
/*}*/

